// bower:scss
// endbower

.container {
  margin-top: 20px;
  
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//global

p { margin-bottom: 2rem; }

hr.thick-line {
    border: none;
    color: #333;
    background-color: #333;
    height: 0.5rem;
}

//wireframe fixes
a {
 color: #333;
 transition: background-color 300ms ease-out;
 &:hover { 
   text-decoration: underline; 
   color: #EEE;
   background-color: #333;
 }
}

.button {
  background-color: #333;
  &:hover {
    background-color: #CCC;
    color: #333;
  }
}

.sub-nav dd.active a {
  background-color: #CCC;
  color: #333;
  &:hover {
    background-color: #AAA;
  }
}

// header
header {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #CCC;
}

.nav {
  font-size: 1.5rem;
  margin-top: 2rem;
  li {
    margin-right: 1rem;
  }
}

// footer
footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #CCC;
  vertical-align: baseline;
}

ul.footer-nav {
  margin-left: 0;
  list-style-type: none;
  text-align: center;

  li {
    margin-left: 0;
    display: inline-block;
  }
  @media screen and (min-width: 768px) {
    li:not(:first-child)::before {
      content: "\2014";
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    li:not(:first-child)::before {
      content: "|";
      color: "#AAA";
      padding-right: 0.5rem;
    }
  }
}

//home page
.hero {
  margin-bottom: 2rem;

  img {
    position: relative;
    vertical-align: middle;
    height: 14rem;
  }
  h2 {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    top: 7rem;
    margin: 0;
    padding: 0;
    line-height: 1rem;
  }
}


//simple page
.simple-page {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;


  h1,h2,h3,h4,h5,h6 {
    text-align: center;
  }
  p {
    margin-bottom: 2rem;
  }
}

//contact page
.contact-page {

  textarea {
    height: 10rem;
  }
  h4.phone {
    margin-bottom: 0rem;
  }
  h5 {
    margin-bottom: 0rem;
  }
  .social-icons {
    margin-top: -0.5rem;
  }
}