// bower:scss
// endbower

.container {
  margin-top: 20px;
  
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//global

p { margin-bottom: 2rem; }

hr.thick-line {
    border: none;
    color: #333;
    background-color: #333;
    height: 0.5rem;
}
//TODO: do this by adjusting Foundation SASS variables
//wireframe fixes
a {
 color: #333;
 transition: background-color 300ms ease-out;
 &:hover { 
   text-decoration: underline; 
   color: #EEE;
   background-color: #333;
 }
}

.button {
  background-color: #333;
  &:hover {
    background-color: #CCC;
    color: #333;
  }
}

.sub-nav dd.active a {
  background-color: #CCC;
  color: #333;
  &:hover {
    background-color: #AAA;
  }
}

ul.pagination li.current a {
  background: #333;
  &:hover { background: #666; }
}

.label {
  background-color: #333;
}

.side-nav li a:not(.button) {
  color: #666;
  &:hover {
    color: #AAA;
  }
}

.side-nav li.active > a:first-child:not(.button) {
  color: #333;
  text-decoration: underline;
}

// header
header {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #CCC;
}

.nav {
  font-size: 1.5rem;
  margin-top: 2rem;
  li {
    margin-right: 1rem;
  }
}

// footer
footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #CCC;
  vertical-align: baseline;
}

ul.footer-nav {
  margin-left: 0;
  list-style-type: none;
  text-align: center;

  li {
    margin-left: 0;
    display: inline-block;
  }
  @media screen and (min-width: 768px) {
    li:not(:first-child)::before {
      content: "\2014";
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    li:not(:first-child)::before {
      content: "|";
      color: "#AAA";
      padding-right: 0.5rem;
    }
  }
}

//home page
.hero {
  background-image: url('http://placehold.it/1600x600');
  width: 100%;
  h1 {
    margin-top: 2rem;
    text-align: center;
  }
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .heading-search {
    margin-bottom: 4rem;
  }
}

.tall-heading {
  line-height: 6rem;
}


.home-category {
  h5 { 
    text-align: center; 
    font-weight: bold;
  }
}

.recent-listing {
  h5 {
    text-align: center;
    font-weight: bold;
  }
}


//contact page
.contact-page {

  textarea {
    height: 10rem;
  }
  h4.phone {
    margin-bottom: 0rem;
  }
  h5 {
    margin-bottom: 0rem;
  }
  .social-icons {
    margin-top: -0.5rem;
  }
}

//parts listing page
.parts-page {
  .part-listing {
    position: relative;
    img {

    }
    .description {
      position: absolute;
      background: rgba(51,51,51,0.7);
      width: 235px;
      bottom: 1.1rem;
      z-index: 2;
      .part-title {
        color: #FFF;
        line-height: 2.5rem;
        padding: 0.5rem;
        width: 100%;
        &:hover { background: transparent; }
      }
    }
  }
}

//parts profile page

.part-images {
 border-right: 0.5rem solid #333;
}
.quote {
 margin-bottom: 0.5rem;
 &:not(:last-child) {
   border-bottom: 1px solid #CCC;
 }
 &:not(:first-child) {
     padding-top: 1rem;
 }
}

.poster-dashboard-page section.row {
  margin-bottom: 2rem;
  h3 {
    border-bottom: 1px solid #AAA;
    margin-bottom: 1.5rem;
    padding-left: 0;
    padding-bottom: 0.5rem;
  }
}

.create-listing-page {
  .file-upload {
    background: #CCC;
    border: 1px dotted #333;
    width: 100%;
    height: 12rem;
    h5 {
        margin-top: 5rem;
    }
  }

  .create-listing-form {
      border-left: 0.5rem solid #333;
  }
}

.expert-dashboard-page {
  section.row {
    margin-bottom: 2rem;
  }
}