<section class='row contact-page'>
  <div class='large-6 columns'>
    <h2>Contact</h2>
    <hr/>
    
    <form>
      <div class="row collapse">
        <div class="large-2 columns">
          <span class="prefix">
            Name
          </span>
        </div>
        <div class="large-10 columns">
          <input type='text' />
        </div>
      </div>

      <div class="row collapse">
        <div class="large-2 columns">
          <span class="prefix">Email</span>
        </div>
        <div class="large-10 columns">
          <input type='email' />
        </div>
      </div>
      <textarea placeholder='enter your message'></textarea>
      <button class='left button'>Send Message</button>
    </form>
    
  </div>

  <div class="large-6 columns">
    <h2>&nbsp;</h2>
    <hr class='no-header'/>
    <h4 class='subheader'>1.800.555.5555</h4>
    <h4 class='subheader'>info@example.com</h4>
    <h5 class='subheader'>Company Name, Inc.</h5>
    <h5 class='subheader'>123 Main Street</h5>
    <h5 class='subheader'>Suite 456</h5>
    <h5 class='subheader'>Anytown, GA 90210</h5>
    <hr/>
    
  </div>
</section>
