<section class='row login-page'>
  <div class='large-12 columns'>
    <dl class="sub-nav">
      <dd><a href="#poster-login">Poster Log In</a></dd>
      <dd><a href="#expert-login">Expert Log In</a></dd>
      <dd><a href="#poster-signup">Poster Sign Up</a></dd>
      <dd class="active"><a href="#expert-signup">Expert Sign Up</a></dd>
    </dl>
  </div>

  <div class='large-6 large-centered columns'>
    <h2>Create an Expert Account</h2>
    <hr class="thick-line" />
    <form>
      <label>
        Email Address
        <input type='email' value='email@example.com'/>
      </label>

      <label>
        Password
        <input type='password' value='password' />
      </label>

      <label>
        Confirm Password
        <input type='password' value='password' />
      </label>

      <a href='#expert-dashboard' class='left button'>Create Account</a>
      <hr class='thick-line' />
      <a href='#expert-login' class='left'>Log In</a>
      <a href='#poster-signup' class='right'>Create Poster Account</a>
    </form>
  </div>
</section>
