<section class='part-profile-page'>
  <div class='row'>
    <div class='large-12 columns'>
      <ul class="breadcrumbs">
        <li><a href='#listings'>Category</a></li>
        <li><a href='#listings'>Subcategory</a></li>
        <li class='current'><a href='#listing-profile'>Listing Title</a></li>
      </ul>
    </div>
    <div class='large-6 columns part-images'>
      <ul class='large-block-grid-1'>
        <li>
          <img src='http://placehold.it/450x450' />
        </li>
      </ul>
      <ul class='large-block-grid-4 part-sub-images'>
        <li  ng-repeat='i in range(4) track by $index'>
          <a href=''><img src='http://placehold.it/84x84' /></a>
        </li>
      </ul>
    </div>
    <div class='large-6 columns part-description'>
      <h2>Listing Title</h2>
      <div class='poster'>
        <p>
          <strong>Posted By: John Doe</strong><br/>
          <span class='subheader'> 95% Acceptance Rate</span>
        </p>
      </div>
      
      <h5>History of The Item</h5>
      <p class='subheader'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales laoreet libero ac finibus. Aliquam erat volutpat.
      </p>

      <h5>Size</h5>
      <p class='subheader'>
        24" x 9" x 6"
      </p>

      <h5>Markings</h5>
      <p class='subheader'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales laoreet libero ac finibus. Aliquam erat volutpat.        
      </p>

      <h3>Bounty: $20</h3>
      <button class='large button'>Submit Quote</button>
    </div>
  </div>

  <div class='row'>
    <div class='large-12 columns'>
      <h2>Quotes</h2>
      <hr class='thick-line' />
      <div class='quote row' ng-repeat='i in range(3) track by $index'>
        <div class='large-2 columns'>
          <img src='http://placehold.it/100x100' />
          <div class='expert-rating'>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star-half-full'></i>
            <i class='fa fa-star-o'></i>
          </div>
        </div>
        <div class='large-8 columns'>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales laoreet libero ac finibus. Aliquam erat volutpat. Pellentesque venenatis ligula mauris, sit amet gravida eros."
          </p>
        </div>

        <div class='large-2 columns'>
          <strong>Rating:</strong>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star'></i>
            <i class='fa fa-star-half-full'></i>
            <i class='fa fa-star-o'></i>
        </div>
      </div>
    </div>
  </div>
</section>
