<section class='parts-page'>

  <div class='row'>
    <div class='large-4 columns'>
      <form>
        <div class='row collapse'>
          <div class='large-10 columns'>
            <input type='search' placeholder='Search Listings...'/>
          </div>
          <div class='large-2 columns'>
            <button class='button postfix'><i class='fa fa-search'></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class='large-4 columns'>
      <button data-dropdown='age-sort' aria-controls='age-sort' aria-expanded='false' class='tiny button dropdown'>
        Age Sort
      </button>
      <ul id='age-sort' data-dropdown-content class='f-dropdown' aria-hidden='true' tabindex='-1'>
        <li><a>Oldest First</a></li>
        <li><a>Newest First</a></li>
        <li><a>Ending Soon</a></li>
      </ul>

      <button data-dropdown='bounty-sort' aria-controls='bounty-sort' aria-expanded='false' class='tiny button dropdown'>
        Bounty Sort
      </button>

      <ul id='bounty-sort' data-dropdown-content class='f-dropdown' aria-hidden='true' tabindex='-1'>
        <li><a>Highest Bounty</a></li>
        <li><a>Lowest Bounty</a></li>
      </ul>
    </div>
    <div class='large-4 columns'>
      <ul class='right pagination'>
        <li class='arrow unavailable'><a href=''>&laquo;</a></li>
        <li class='current'><a href=''>1</a></li>
        <li><a href=''>2</a></li>
        <li><a href=''>3</a></li>
        <li class='unavailable'><a href=''>&hellip;</a></li>
        <li><a href=''>12</a></li>
        <li><a href=''>13</a></li>
        <li><a href=''>&raquo;</a></li>
      </ul>
    </div>
  </div>

  <div class='row'>
    <div class='large-3 columns'>
      <ul class="side-nav">
        <li><strong>Category Name</strong></li>
        <li class='active'><a>Subcategory</a></li>
        <li><a>Subcategory</a></li>
        <li><a>Subcategory</a></li>
        <li><a>Subcategory</a></li>
        <li class='divider'></li>

        <li><strong>Category Name</strong></li>
        <li><a>Subcategory</a></li>
        <li><a>Subcategory</a></li>
        <li><a>Subcategory</a></li>
        <li><a>Subcategory</a></li>
        <li class='divider'></li>

        <li><strong>Category Name</strong></li>
        <li><a>Subcategory</a></li>
        <li><a>Subcategory</a></li>
        <li><a>Subcategory</a></li>
        <li><a>Subcategory</a></li>
        <li class='divider'></li>
      </ul>
    </div>
    <div class='large-9 columns'>
      <ul class='large-block-grid-2'>
        <li ng-repeat='i in range(12) track by $index'>
          <div class='row'>
            <div class='large-4 columns'>
              <img src='http://placehold.it/300x300' />
            </div>
            <div class='large-8 columns'>
              <h5>Listing Title</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href='#listing-profile'>View &raquo;</a>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>



  <div class='row'>
    <div class='large-4 large-offset-8 columns'>
      <ul class='right pagination'>
        <li class='arrow unavailable'><a href=''>&laquo;</a></li>
        <li class='current'><a href=''>1</a></li>
        <li><a href=''>2</a></li>
        <li><a href=''>3</a></li>
        <li class='unavailable'><a href=''>&hellip;</a></li>
        <li><a href=''>12</a></li>
        <li><a href=''>13</a></li>
        <li><a href=''>&raquo;</a></li>
      </ul>
    </div>
  </div>

</section>
