<section class='hero'>
  <div class='row'>
    <div class='large-7 large-centered columns'>
      <h1>Headline About The App</h1>
      <h2 class='subheader'>Subheading To Explain App</h2>
      <form class='heading-search'>
        <div class='row collapse'>
          <div class='large-10 columns'>
            <input type='search' placeholder='Search Listings...'/>
          </div>
          <div class='large-2 columns'>
            <button class='button postfix'><i class='fa fa-search'></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class='top-categories'>
  <div class='row'>
    <div class='large-6 large-centered columns'>
      <h3 class='text-center tall-heading'>Top Categories</h3>
    </div>
  </div>

  <div class='row'>
    <div class='large-12 columns'>
      <ul class='large-block-grid-3'>
        <li class='home-category' ng-repeat='i in range(6) track by $index'>
          <a href='#listings'>
            <img src='http://placehold.it/300x200' />
          </a>
          <h5><a href='#listings'>Category Name</a></h5>
        </li>
      </ul>
    </div>
  </div>

</section>

<section class='recent-listings'>
  <div class='row'>
    <div class='large-6 large-centered columns'>
      <h3 class='text-center tall-heading'>Recent Listings</h3>
    </div>
  </div>

  <div class='row'>
    <div class='large-12 columns'>
      <ul class='large-block-grid-4'>
        <li class='recent-listing' ng-repeat='i in range(8) track by $index'>
          <a href='#listing-profile'>
            <img src='http://placehold.it/300x200' />
          </a>
          <h5><a href='#listing-profile'>Category Name</a></h5>          
        </li>
      </ul>
    </div>
  </div>
</section>

<section class='become-expert'>
  <div class='row'>
    <div class='large-12 columns'>
      <h3 class='text-center tall-heading'>Become an Expert</h3>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales laoreet libero ac finibus. Aliquam erat volutpat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales laoreet libero ac finibus. Aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales laoreet libero ac finibus. Aliquam erat volutpat.
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='large-8 large-centered columns'>
      <a href='#expert-signup' class='large expand button'>Sign Up For Expert Account &raquo;</a>
    </div>
  </div>
</section>
