<section class='row parts-page'>

  <div class='large-12 columns'>
    <ul class='right pagination'>
      <li class='arrow unavailable'><a href=''>&laquo;</a></li>
      <li class='current'><a href=''>1</a></li>
      <li><a href=''>2</a></li>
      <li><a href=''>3</a></li>
      <li class='unavailable'><a href=''>&hellip;</a></li>
      <li><a href=''>12</a></li>
      <li><a href=''>13</a></li>
      <li><a href=''>14</a></li>
      <li><a href=''>&raquo;</a></li>
    </ul>
  </div>

  <ul class='large-block-grid-4 medium-block-grid-2'>
    <li class='part-listing' ng-repeat="a in range(12) track by $index">
      <a href='#part-profile'>
        <img src='http://placehold.it/235x235' />
        <div class='description'>
          <a class='part-title' href='#part-profile'>Name of the part</a>
        </div>
      </a>
    </li>
  </ul>


  <div class='large-12 columns'>
    <ul class='right pagination'>
      <li class='arrow unavailable'><a href=''>&laquo;</a></li>
      <li class='current'><a href=''>1</a></li>
      <li><a href=''>2</a></li>
      <li><a href=''>3</a></li>
      <li class='unavailable'><a href=''>&hellip;</a></li>
      <li><a href=''>12</a></li>
      <li><a href=''>13</a></li>
      <li><a href=''>14</a></li>
      <li><a href=''>&raquo;</a></li>
    </ul>
  </div>


</section>
