<section class='row login-page'>
  <div class='large-12 columns'>
    <dl class="sub-nav">
      <dd class="active"><a href="#poster-login">Poster Log In</a></dd>
      <dd><a href="#expert-login">Expert Log In</a></dd>
      <dd><a href="#poster-signup">Poster Sign Up</a></dd>
      <dd><a href="#expert-signup">Expert Sign Up</a></dd>
    </dl>
  </div>

  <div class='large-6 large-centered columns'>
    <h2>Poster Log In</h2>
    <hr class="thick-line" />
    <form>
      <label>
        Email Address
        <input type='email' value='email@example.com'/>
      </label>

      <label>
        Password
        <input type='password' value='password' />
      </label>

      <a href='#partner-dashboard' class='left button'>Log In</a>
      <hr class='thick-line' />
      <a href='#forgot-password' class='left'>Forgot Password?</a>
      <a href='#partner-signup' class='right'>Create Account</a>
    </form>
  </div>
</section>
